.content-caption
	max-width 1276px
	width 100%
	margin 0 auto
	text-align center
	&__first-header
		font-size 82px
		font-family 'Raleway'
		font-weight bold
		margin 65px 0 0 -6px
	&__second-header
		margin 36px 0 0 0
		font-size 36px
		font-family 'Raleway'

