.video
	position relative
	&__play-button
		//background url("../../images/play-button.png") no-repeat
		background url("../../images/test.jpg") no-repeat
		//width 125px
		//height 125px
		width 707px
		height 397px
		position absolute
		top 0
		left 0
		cursor pointer
