mixin video()
	div.video
		iframe(id='video' width='707' height='395' src="https://www.youtube.com/embed/8AOt6VAtuFM?showinfo=0&autohide=1&html5=1&enablejsapi=1" frameborder='0' allowfullscreen)
		div.video__play-button
		block
