@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway-Medium.eot');
	src: url('../../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
			url('../../fonts/Raleway-Medium.woff') format('woff'),
			url('../../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
