.header
	background-color #252525
	&__wrapper
		display flex
		justify-content space-between
		padding 19px 0
		max-width 1600px
		padding 12px 0 27px 0
		width 100%
		margin 0 auto
	&__text
		color white
		font-family 'Raleway'
		font-size 2.25em
		margin 21px 24.2% 0 0
	&__logo
		margin 0 0 0 187px

