mixin menu()
	nav.menu
		ul.menu-items
			li.menu-items__home
				a.menu-items__home-link(href='https://www.google.com.ua/')
			li.menu-items__item
				div О нас
					span &#9013;
				ul
					li.menu-items__sub-menu
						div Брокеры форекс
					li.menu-items__sub-menu
						div Брокеры бинарных опционов
					li.menu-items__sub-menu
						div Памм-площадки
			li.menu-items__item
				div Обучение
					span &#9013;
				ul
					li.menu-items__sub-menu
						div Брокеры форекс
					li.menu-items__sub-menu
						div Брокеры бинарных опционов
					li.menu-items__sub-menu
						div Памм-площадки
			li.menu-items__item
				div Брокер
					span &#9013;
				ul
					li.menu-items__sub-menu
						div Брокеры форекс
					li.menu-items__sub-menu
						div Брокеры бинарных опционов
					li.menu-items__sub-menu
						div Памм-площадки
			li.menu-items__item
				div Статьи
					span &#9013;
				ul
					li.menu-items__sub-menu
						div Брокеры форекс
					li.menu-items__sub-menu
						div Брокеры бинарных опционов
					li.menu-items__sub-menu
						div Памм-площадки
			li.menu-items__item
				div Магазин
					span &#9013;
				ul
					li.menu-items__sub-menu
						div Брокеры форекс
					li.menu-items__sub-menu
						div Брокеры бинарных опционов
					li.menu-items__sub-menu
						div Памм-площадки
			li.menu-items__item
				div Чат
			li.menu-items__item
				div Форум
		block
